$mainBackgroundColor: #121212; // Use mainly for background / enabled btn;
$topBarColor: #363636; // Use for top-bar / side bar
$secondaryBackgroundColor: #272727; // use for cards and content etc
$opacity: 100%; // Use for emphasys text
$secondaryOpacity: 87%; // Use for secondary text 
$disabledOpacity: 60%; // Use for disabled (not clickable) text
$fontColor: #fff;
$primaryFont: 'Archivo', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;
